<div style="text-align: center;">

    <h4>A GM has started a ready check.</h4>

    <div style="display: flex; gap: 1rem; justify-content: center; width: 100%;">
        <button type="submit" style="flex: 1 1 0; height: 40px;"><i class="fas fa-check"></i> Ready</button>
        <button style="flex: 1 1 0; height: 40px;" data-action="notReady"><i class="fas fa-xmark"></i> Not Ready</button>
    </div>

    <hr style="width: 100%; height: 1px;">

    <i style="font-size: 11px">You can also toggle your ready status anytime <br/> by clicking on your status in the bottom left.</i>
</div>
