$tabs: (
    chat: chat,
    rolls: roll,
    ooc: ooc
);
#tabbed-chat-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    pointer-events: all;
    padding: 0 0.25rem 0.25rem 1rem;
    span {
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        background-color: rgba(0, 0, 0, 0.5);
        display: block;
        flex: 1 1 0;
        text-align: center;
        cursor: pointer;
        padding: 0.25rem 0;
        margin: 0 0.25rem;
        transition: all 0.3s ease;
        &.active {
            box-shadow: rgb(255, 0, 0, 0.3) 0px 0px 6px;
            background-color: rgba(0, 0, 0, 0.75);
            text-shadow: rgb(255, 0, 0) 0px 0px 6px;
        }
        &:hover {
            box-shadow: rgb(255, 0, 0, 0.5) 0px 0px 6px;
            background-color: rgba(0, 0, 0, 0.75);
        }
        &:active {
            box-shadow: rgb(255, 0, 0, 1) 0px 0px 6px;
            background-color: rgba(0, 0, 0, 0.95);
        }
    }
}

#chat {
    gap: 0;
    ol.chat-log {
        li {
            display: none;
        }
        @each $tab, $type in $tabs {
            &[data-chattab="#{$tab}"] li[data-type="#{$type}"] {
                display: flex;
            }
        }
    }
}
